* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  height: 70px;

  background-color: hsla(0, 0%, 0%, 0.8);
}
.nav {
  display: flex;
  justify-content: space-around;
}
nav div,
.element,
nav a {
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav {
  padding-left: 50px;
  padding-right: 30px;
  /* position: fixed; */
  display: flex;
  width: 100%;
}
.nav div > a {
  color: rgb(170, 166, 166);
}
.nav {
  margin-left: 50px;
}
.nav div > a:hover {
  color: white;
  transition: 0.4s;
  border-bottom: 3px solid green;
}
.button {
  background-color: rgb(0, 153, 97);
  border-radius: 30px;
}
.button:hover {
  background: rgb(56, 202, 149);
  transition: 0.8s;
}
.element .get-started-btn {
  margin-left: 25 px;
  background: #009961;
  color: #fff;
  border-radius: 50 px;
  padding: 8 px 25 px 9 px 25 px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
main {
  display: flex;
}

.inner-text {
  width: 50vw;
}
.inner-text image {
  width: 50%;
  margin-top:10px;
}
img {
  width: 48vw;
  height: 80vh;
}
.inner-text{
    padding:10px;
}
i{
    color: rgb(0, 153, 97);
}
.inner-text{
    margin:10px;
}